*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Home{
    background-image: url(Img/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    height: 100vh;
    align-content: center;
}
#Home section{
    margin: auto 200px auto 100px;
}
 #Home section img{
    width: 600px;
 }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 5px 70px;
}
nav img{
    width: 50px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul a{
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: green;
}
nav ul a:hover{
    color: rgb(233, 152, 1);
}
.banner{
    width: 100%;
    margin: 0;
}
#location{
    display: flex;
    background-image: url(Img/banner3.png);
    background-repeat: no-repeat;
    margin: 0px;
}