*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
#Home{
    background-image: url(Img/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    height: 100vh;
    align-content: center;
}
#Home section{
    margin: auto 200px auto 100px;
}
 #Home section img{
    width: 600px;
 }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 5px 70px;
}
nav img{
    width: 50px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul a{
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: green;
}
nav ul a:hover{
    color: rgb(233, 152, 1);
    .banner{
        width: 100%;
        margin: 0;
    }
}
#Planos{
    display: flex;
}
#titulo{
    margin: 10px 50% 57px;
    font-weight: lighter;
    color: #CD5505;
}
.residencial section{
    display: flex;
    flex-direction: column;
    width:fit-content;
}
.residencial img{
    width: 10px;
}
#Welcome{
    background-image: url(Img/Fundoinício.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 100vh;
}
#Welcome div{
    display: flex;
    position: absolute;
    margin: 10% 15%;
}
#Welcome img{
    width: 400px;
    margin-right: 70px;
}
#Welcome h1{
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 400;
    color: white;
}
#Welcome section{
    margin: 100px 0;
}
#Welcome b{
    font-weight: bolder;
}
#Welcome p{
    color: white;
    font-family: "Inter", sans-serif;
}