*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 4rem;
}

.bt {
    width: 30px;
    margin-right: 0.5rem;
}

:root {
    --font-family: "Inter", sans-serif;

    /* NAVEGADO */
    --nav-color: #388153;
    --nav-hover-color: #FF6600;
    --h1-color: #CD5505;
    --h1-font: lighter 35px/200% "Inter", sans-serif;

    /* HOMEPAGE */
    --text-home: white;
    --font-h1: normal 2.37rem "Inter", sans-serif;
    --font-h2: lighter 1.5rem "Inter", sans-serif;

    /* TAG */
    --background-tag: linear-gradient(99deg, #B34B06, #FF6A00);
    --font-tag: bold 0.8rem "Inter", sans-serif;

    /* PLANOS */
    /* residencial */
    --background-pl: #EEEEEE;
    --background-h3: linear-gradient(99deg, #B34B06, #FF6A00);
    --font-h3: bold 1.7rem "Inter", sans-serif;
    --font-pl: normal 1rem "Inter", sans-serif;
    --icon-color: #FF6A00;
    --botao-color: linear-gradient(99deg, #B34B06, #FF6A00);
    --botao-color2: white;

    /* empresarial */
    --background-ple: #EEEEEE;
    --background-h3e: linear-gradient(99deg, #00E35B, #387852);
    --font-h3e: bold 1.7rem "Inter", sans-serif;
    --font-ple: normal 1rem "Inter", sans-serif;
    --icon-colore: #07E25B;
    --botao-colore: linear-gradient(99deg, #00E35B, #387852);
    --botao-color2e: white;

    /* footer */
    --ft-back: #0D7A47;
    --text-footer: white;
    --font-footer: lighter 1rem "Inter", sans-serif;

    /* app */
    --app-font: bolder 5rem/100% var(--font-family);
    --app-font2: lighter 3.3rem/130% var(--font-family);
    --app-font3: bold 1.8rem/120% var(--font-family);
    --app-text: 1.2rem/150% var(--font-family)
}

@media (max-width: 600px){
    
    body{
        width: 100vw;
    }
    
    :root {
    /* NAVEGADO */
    --h1-font: Bolder 60px/200% "Inter", sans-serif;

    /* HOMEPAGE */
    --font-h1: normal 1.3rem "Inter", sans-serif;
    --font-h2: lighter 1.2rem "Inter", sans-serif;

    /* PLANOS */
    /* residencial */
    --font-h3: bolder 1.5rem "Inter", sans-serif;
    --font-pl: normal 0.9rem "Inter", sans-serif;

    /* empresarial */
    --font-h3e: bolder 1.2rem "Inter", sans-serif;
    --font-ple: normal 0.9rem "Inter", sans-serif;

    /* footer */
    --font-footer: 0.9rem "Inter", sans-serif;

    /* app */
    --app-font: bolder 3.5rem/100% var(--font-family);
    --app-font2: 1.5rem/130% var(--font-family);
    --app-font3: bold 1.5rem/120% var(--font-family);
    --app-text: italic 1rem/110% var(--font-family)
}
}