    @import url(global.css);

    nav {
        display: flex;
        z-index: 10;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: white;
        padding: 0.3rem 4.3rem;
        box-shadow: 0 4px 15px rgba(0,0,0,.2);

        img {
            width: 3rem;
        }

        #tag {
            display:none;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            gap: 30px;
        }

        a {
            padding: 0px 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--nav-color);
        }

        #Central {
            color: white;
            background-color: var(--nav-color);
            border-radius: 10px;
            padding: 10px 20px;
        }

        #Central:hover {
            background-color: var(--nav-hover-color);
        }

        @media (min-width: 1024px) {
            li:hover {
                transition: 0.1s;
                transform: translateY(-0.2rem);

                a {
                    color: var(--nav-hover-color);
                    font-weight: bold;
                    padding-inline: 1.13rem;
                }
            }
        }
    }

    @media ((min-width: 320px) and (max-width: 600px)) {
        nav {
            position: fixed;
            padding: 0.3rem 1.25rem;

            img {
                width: 2rem;
            }

            #tag {
                all: unset;
                width: 1.8rem;
                height: 1.6rem;
                background-image: url(../Img/Tag.svg);
                background-repeat: no-repeat;
                background-size: contain;
                display: block; 
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }

            #Menu{
                display: none;
                animation: transitionMenu 0.5s forwards;
            }
            #Menu.active {
                display: flex;
            }

            ul {
                background-color: white;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(5%);
                flex-direction: column;
                li{
                    margin: 1rem;
                }
            }

            a {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }

    @keyframes transitionMenu {
        from {
            opacity: 0;
            transform: translateY(0%);
        }
        to {
            opacity: 1;
            transform: translateY(4%);
        }
    }