@import url(global.css);
#Home {
    background-image: url(../Img/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    height: 100vh;
    align-content: center;

    section {
        margin: auto;
        padding-left: 5%;
        padding-right: 10rem;

        img {
            width: 90vh;
        }
    }

    h1 {
        padding: 1rem 32rem 0rem 0;
        font: var(--font-h1);
        color: var(--text-home);
    }

    h2 {
        margin: 100px 65% 3rem 0;
        padding-left: 0.8rem;
        font: var(--font-h2);
        border: 2px solid var(--text-home);
        border-radius: 50px;
        color: var(--text-home);
    }

    p {
        margin: 1.5rem 45rem 3rem 0;
        font: var(--font-h2);
        color: var(--text-home);
    }
}