@import url(global.css);

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 6rem 10rem;
    margin: auto 10rem;

    .check {
        color: black;
        font-weight: bolder;
        font-size: 4.5rem;
        margin-right: 0.5rem;
    }

    .icon {
        font-weight: bolder;
        font-size: 4.5rem;
        margin-right: 0.5rem;
        color: var(--icon-color);
    }

    .icon-emp {
        font-weight: bolder;
        font-size: 4.5rem;
        margin-right: 0.5rem;
        color: var(--icon-colore);
    }

}