@import url(global.css);

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0 1rem;
    margin: auto 10rem;

    #card {
        position: relative;
        z-index: 1;
        top: 0;
        left: 5rem;
        background-color: #FF6600;
        color: white;
        border-radius: 0 30px 0 30px;
        font-weight: bold;
    }

    .check {
        color: black;
        font-weight: bolder;
        font-size: 2rem;
    }

    .icon {
        font-weight: bolder;
        width: 10%;
        font-size: 1.5rem;
        color: var(--icon-color);
    }

    .icon-emp {
        font-weight: bolder;
        font-size: 1.5rem;
        color: var(--icon-colore);
    }
    .wifi6 {
                display: flex;
                width: 40%;
                gap: 0.5rem;
                margin: 0 3.5rem;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

}