@import url(global.css);

#Home {
    background-image: url(../Img/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    height: 100vh;
    align-content: center;
}

#Home section {
    margin: auto;
    padding-left: 5%;
    padding-right: 10rem;
}

#Home section img {
    width: 90vh;
}

#Home h1 {
    padding: 1rem 32rem 0rem 0;
    font: var(--font-h1);
    color: var(--text-home);
}

#Home h2 {
    margin: 100px 70% 3rem 0;
    padding-left: 0.8rem;
    font: var(--font-h2);
    border: 2px solid var(--text-home);
    border-radius: 50px;
    color: var(--text-home);
}

#Home p {
    margin: 1.5rem 45rem 3rem 0;
    font: var(--font-h2);
    color: var(--text-home);
}

nav {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 5px 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);

}

nav img {
    width: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul a {
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--nav-color);
}

nav ul a:hover {
    color: var(--nav-hover-color);
    font-weight: bolder;
    transition: 0.5s;
    padding: 0px 30px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 6rem 10rem;
    margin: auto 10rem;
}

#Planos {
    display: flex;
    justify-content: center;
    font: var(--h1-font);
    margin-bottom: 2rem;
    color: var(--h1-color);
}

.check {
    color: black;
    font-weight: bolder;
    font-size: 4.5rem;
    margin-right: 0.5rem;
}
footer{
    margin: 0;
}

footer div {
    display: flex;
    background: var(--ft-back);
    justify-content: space-between;
    padding: 6rem 7rem;
}

footer section {
    color: var(--text-footer);
    font: var(--font-footer);
    text-decoration: none;
}

footer section h4 {
    font-weight: bolder;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer a{
    text-decoration: underline;
    color: white;
}
footer img {
    height: 6.75rem;
    width: 11rem;
    margin: 0;
    padding: 0;
}

#unidades {
    display: grid;
    grid-template-columns: 9rem 1fr;
}
#footer-text {
    text-align: center;
    color: black;
    font: bolder 1rem "Inter", sans-serif;
    font-style: italic;
    margin: 4rem;
}

/* Planos residenciais */

.plano-card {
    background: var(--background-pl);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    text-align: center;
}

.plano-topo h3 {
    background: var(--background-h3);
    color: white;
    padding: 1rem;
    border-radius: 30px 30px 30px 0;
    margin: 0;
    font: var(--font-h3);
}

.plano-topo hr {
    border: none;
    border-top: 1px solid white;
    margin: 0.5rem 0;
}

.plano-info {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    text-align: center;
    font: var(--font-pl);
}

.plano-info li {
    display: grid;
    grid-template-columns: 3rem 20rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
}

.beneficios {
    display: grid;
    grid-template-columns: 1rem 7rem;
    justify-content: center;
    align-items: center;
}

.beneficios-img {
    display: flex;
    gap: 2.5rem;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}

.icon {
    font-weight: bolder;
    font-size: 4.5rem;
    margin-right: 0.5rem;
    color: var(--icon-color);
}

.plano-botao {
    display: inline-flex;
    position: relative;
    top: 20px;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: var(--botao-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.5);
    color: var(--botao-color2);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 20px;
}

.plano-botao img {
    width: 20px;
    margin-right: 0.5rem;
}

.plano-botao:hover {
    background: #B34B06;
    position: relative;
    top: 20px;
    bottom: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    width: 65%;
    transition: 0.5s;
}

/* Planos empresáriais */

.plano-emp {
    background: var(--background-ple);
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    text-align: center;
}

.plano-topoemp h3 {
    background: var(--background-h3e);
    color: white;
    padding: 1rem;
    border-radius: 30px 30px 30px 0;
    margin: 0;
    font: var(--font-h3e);
}

.plano-topoemp hr {
    border: none;
    border-top: 1px solid white;
    margin: 0.5rem 0;
}

.plano-topoemp h3 span {
    font-size: 1.2rem;
    background: #FF6600;
}

.plano-infoemp {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    text-align: center;
    font: var(--font-ple);
}

.plano-infoemp li {
    display: grid;
    grid-template-columns: 5rem 20rem;
    padding: 0.5rem 1rem;
    align-items: center;
    align-content: center;
}

.beneficios-emp {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.beneficios-empimg {
    display: flex;
    gap: 2.5rem;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
}

.icon-emp {
    font-weight: bolder;
    font-size: 4.5rem;
    margin-right: 0.5rem;
    color: var(--icon-colore);
}

.plano-botaoemp {
    display: inline-flex;
    position: relative;
    top: 20px;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: var(--botao-colore);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.5);
    color: var(--botao-color2e);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 20px;
}

.plano-botaoemp img {
    width: 20px;
    margin-right: 0.5rem;
}

.plano-botaoemp:hover {
    background: #387852;
    position: relative;
    top: 20px;
    bottom: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 25px;
    width: 65%;
    transition: 0.5s;
}

#propaganda {
    width: 100%;
    height: auto;
    margin: 10% 0 0 0;
}