@import url(global.css);

#Welcome {
    background-image: url(../Img/Fundoinício.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 100vh;
}

#Welcome div {
    display: flex;
    position: absolute;
    margin: 10% 15%;
}

#Welcome img {
    width: 25rem;
    height: 25rem;
    margin-right: 4.38rem;
}

#Welcome h1 {
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 400;
    color: white;
}

#Welcome section {
    margin: 100px 0;
}

#Welcome b {
    font-weight: bolder;
}

#Welcome p {
    color: white;
    font-family: "Inter", sans-serif;
}

#paginas{
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: white url('data:image/svg+xml;utf8,<svg fill="%23a84300" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 1rem center;
  background-size: 12px;
  
  border: 2px solid #ccc;
  border-radius: 30px;
  margin-top: 1rem;
  padding: 0.6rem 12.5rem 0.6rem 0.9rem;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

#pagina{
    outline: none;
    box-shadow: 0 0 0 2px #ffb366;
}