@import url(global.css);

#Welcome {
    background-image: url(../Img/Fundoinício.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    height: 100vh;
}

#Welcome div {
    display: flex;
    position: absolute;
    margin: 10% 15%;
}

#Welcome img {
    width: 25rem;
    height: 25rem;
    margin-right: 4.38rem;
}

#mobile{
    display: none;
}

#Welcome h1 {
    font-family: "Inter", sans-serif;
    font-size: xx-large;
    font-weight: 400;
    color: white;
}

#Welcome section {
    margin: 100px 0;
}

#Welcome b {
    font-weight: bolder;
}

#Welcome p {
    color: white;
    font-family: "Inter", sans-serif;
}

#paginas{
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: white url('data:image/svg+xml;utf8,<svg fill="%23a84300" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 1rem center;
  background-size: 12px;
  
  border: 2px solid #ccc;
  border-radius: 30px 30px 0 0;
  border-bottom: none;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.966);
  margin-top: 1rem;
  padding: 0.6rem 12.5rem 0.6rem 0.9rem;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  appearance: none;
  outline: none;
}

#pagina{
    outline: none;
    box-shadow: 0 0 0 2px #ffb366;
}

@media(max-width: 600px){
    #Welcome{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../Img/Retângulo\ 7\ 1.jpg);
    img{
        display: none;
    }
    #mobile{
        display: block;
        position: absolute;
        width: 75%;
        height: 25%;
        left: 14%;
    }
    div{
        position: relative;
        margin: 0;
    }
    h1{
        font-size: x-large;
        justify-self: center;
    }
    p{
        justify-items: center;
        text-justify: center;
        padding-inline: 10%;
    }
    #paginas{
        background-size: contain;
        padding: 0.6rem 5rem;
        margin-inline-start: 5%;
    }
}
}